.header_container {
  background-color: #1e1e1e;
  width: fit-content;
  height: 1.5rem;
  cursor: pointer;
  user-select: none;

  &:not(:last-of-type) {
    border-right: 1px solid #676767;
  }

  & .header_content {
    height: 100%;
    border: 1px solid transparent;
    background-color: #242424;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    &.selected {
      background-color: #393535;
    }

    & p {
      font-weight: 500;
    }

    & button {
      background: transparent;
      border: none;
      outline: none;
    }
  }
}
