.folder {
  justify-self: flex-start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.node {
  cursor: pointer;
  padding: 4px 8px;
  user-select: none;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;

  &:hover {
    background-color: #242424;
  }
}

.folderIcon {
  display: flex;
  align-items: center;
}

.children {
  margin-left: 16px;
  border-left: 1px dashed yellow;

  & .create_new {
    padding: 0 0.5rem;

    & input {
      outline: none;
      padding: 4px;
      color: #fff;
      border: 1px solid #cccccc4a;
      border-radius: 4px;
    }
  }
}

.renameInput {
  outline: none;
  padding: 4px;
  color: #fff;
  border: 1px solid #cccccc4a;
  border-radius: 4px;
  margin-left: 8px;
  width: 150px;
}

.createInput {
  outline: none;
  padding: 4px;
  color: #fff;
  border: 1px solid #cccccc4a;
  border-radius: 4px;
  width: 100%;
}

.cut {
  opacity: 0.5;
  filter: blur(1px);
}
