.header_modal {
  box-shadow: rgba(100, 100, 111) 0px 0px 5px 0px;
  border-radius: 0.75rem;
  position: absolute;
  width: fit-content;
  top: 2.813rem;
  padding: 0.75rem 0;
  min-width: 200px;
  background-color: rgb(36, 36, 36);
}

.subheader_modal {
  left: 100%;
}

.header_options {
  align-items: center;
  cursor: pointer;
  user-select: none;
  text-align: left;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  & svg {
    height: 1.25rem;
    width: 1.25rem;
    margin-left: 0.5rem;
    user-select: none;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
  }

  .options_icon {
    display: flex;
  }
}

.header_options:hover,
.selected_options {
  box-shadow: rgba(100, 100, 111) 0px 0px 5px 0px;
}

.disabled_options {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
